{% extends 'base.html' %}
{% block content %}
<a href="/" class="button-ul">Regresar</a>
<h1>Login</h1>
<div class="container col-md-5 vertical-align2">
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="button">Loguearse</button>
  </form>
</div>
{% endblock content %}
