/*
CSS VARIABLES
*/
:root{
	--color1: #F0DFCB;
	--color1d: #B09F8B;
	--color1w: #f1eae3;
	--color2: #9B4C51;
	--color2d: #5B0C11;
	--color2w: #ca8387;
	--color3: #FFBF99;
	--color3d: #BF7F59;
	--color3w: #f7cfb7;
	--color4: #839996;
	--color4d: #435956;
	--color4w: #a3b9b6;
	--color5: #DF9F79;
	--color5: #9F5F39;
	--color5w: #FFBF99;
	
	--cBSize: 6em;
	--backOpacity: 0.7;
}

/*
GENERAL
*/
.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.vertical-align2 {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}

html {
	width: 100%;
	height: 100%;
	background-color: white;
}

body {
	width: 100%;
	height: 100%;
	font-size: 110%;
	background-color: transparent;
	background-repeat: repeat;
	background-attachment: fixed;
    animation-play-state:running;
	animation:backappear 500ms linear 1;
	animation:backscroll 16384ms linear infinite;
}

.backImage {
	position: fixed;
	z-index: -10000000;
	width: 100%;
	background: white;
	animation-play-state: running;
	animation:backappear 500ms linear 1;
	opacity: var(--backOpacity);
}
@keyframes backappear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: var(--backOpacity);
	}
}

@keyframes backscroll {
	0% {
		background-position-x: 0px;
		background-position-y: 0px;
	}
	100% {
		background-position-x: 256px;
		background-position-y: 256px;
	}
}

.maintext {
	font-size: 120%;
	text-align: center;
	text-shadow: 0 0 12px #ffffff;
}

.topbar {
	padding: 3em 2em 1em 11em;
	background-color: var(--color2);
	color: white;
	width: auto;
}
.topbar-clear {
	color: var(--color2);
	width: 100%;
	text-align: center;
	position: fixed;
	top: calc(10vw);
}

h1 {
	
}

h3 {
	color: var(--color2d);
}

a {
	line-height: 4em;
	padding: 1em 1em;
	color: white;
	font-size: 120%;
	text-decoration: none;
	background-color: var(--color4);
	transition: box-shadow 0.1s linear;
	-webkit-box-shadow: inset 0 0 0 0 var(--color4);
    box-shadow: inset 0 0 0 0 var(--color4);
}

b {
	color: var(--color4d);
}

a:hover {
	background-color: var(--color4w);
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 20px;
	color: white;
	text-decoration: none;
	-webkit-box-shadow: inset 0 0 0 8px var(--color1);
    box-shadow: inset 0 0 0 8px var(--color1);
}

.button-br {
	position:absolute;
	text-align: center;
	width: var(--cBSize);
	height: var(--cBSize);
	bottom: 2em;
	right: 0;
	z-index: 10;
	border-radius: 50%;
}

.button-bl {
	position:absolute;
	text-align: center;
	width: var(--cBSize);
	height: var(--cBSize);
	bottom: 2em;
	z-index: 10;
	border-radius: 50%;
}

.button-ur {
	position:fixed;
	text-align: center;
	width: var(--cBSize);
	height: var(--cBSize);
	top: 2em;
	right: 2em;
	z-index: 10;
	border-radius: 50%;
}

.button-ul {
	position:fixed;
	text-align: center;
	vertical-align: middle;
	width: var(--cBSize);
	height: var(--cBSize);
	top: 2em;
	left: 2em;
	z-index: 10;
	border-radius: 50%;
}

.button-centered {
	position:absolute;
	left: 50%;
	width: 30%;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: -15%;
	text-align: center;
}

h2 {
	padding: 1em 6em;
	background-color: var(--color2);
	color: white;
}

ul {
	text-decoration: none;
	list-style: none;
}

/*
AGE / BOOK SELECTION
*/
.cards {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.cards a {
	text-align: center;
	flex: 0 5 12em;
	margin: 2em 2em -6em 2em;
	width: 12em;
	height: 16em;
}

.cards a:hover {
	animation: shake 0.1s linear 1 normal forwards;
}

.cards a:nth-child(1) { background-color: var(--color4); }
.cards a:nth-child(2) { background-color: var(--color2); }
.cards a:nth-child(3) { background-color: var(--color5); }

.cards a:nth-child(1):hover { background-color: var(--color4w); }
.cards a:nth-child(2):hover { background-color: var(--color2w); }
.cards a:nth-child(3):hover { background-color: var(--color5w); }

@keyframes shake {
    from {
		transform: rotate(0deg) translateX(0px) scale(1,1);
	}
    to {
		transform: rotate(5deg) translateX(2px) scale(1.2,1.2);
	}
}

.selectionButton {
	line-height: 6em;
	padding: 0 2em;
	color: white;
	text-decoration: none;
	background-color: var(--color4);
	transition: box-shadow 0.1s linear;
	-webkit-box-shadow: inset 0 0 0 0 var(--color4);
    box-shadow: inset 0 0 0 0 var(--color4);
}

.selectionButton:hover {
	background-color: var(--color4w);
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 25%;
	color: white;
	text-decoration: none;
	-webkit-box-shadow: inset 0 0 0 8px var(--color1);
    box-shadow: inset 0 0 0 8px var(--color1);
}

/*
BOOK QUESTION DETAILS
*/

.answer-option {
	margin: 1em;
}

#animate-slide-left {
	animation-play-state: running;
	animation:slide-left 250ms linear 1;
}

@keyframes slide-left {
    0% {
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

#response-back {
	width: 100%;
	height: 100%;
	background-color: #ffffff60;
	position: fixed;
    top: 0;
    left: 0;
	z-index: 99;
}
#response {
	width: calc(50%);
	padding: 6em;
	background-color: var(--color3);
	text-align: center;
	z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	-webkit-box-shadow: inset 0 0 0 1em var(--color1);
    box-shadow: inset 0 0 0 1em var(--color1);
}