{% extends 'base.html' %}
{% block content %}
<a href="/trivia-admin" class="button-ul">Regresar</a>
  <h1>Listado de Libros Disponibles</h1>
  <div class="container col-md-8" style="margin-top: 1em;">
	  <ul>
		{% for  book in all_books %}
		  <li><a href="{% url 'book_options' book.pk %}">{{ book.title }} - {{ book.author }}</a></li>
		{% endfor %}
	  </ul>
  </div>
{% endblock content %}
