{% extends 'base.html' %}
{% block content %}
<a href="/trivia-admin" class="button-ul">Regresar</a>
<h1>Crear Nuevo Libro</h1>
<div class="container col-md-5" style="margin-top: 6em;">
  <form class="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2" type="submit" name="button">Crear</button>
  </form>
</div>
{% endblock content %}
