{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
	<a href="#" onclick="goBack()" class="button-ul">Regresar</a>
    <div class="container col-md-7 vertical-align" style="text-align: center;">
		<h3  style="font-size: 200%;">¿Estás listo? </h3>
		<br>
		<h3 id="count-number" style="font-size: 300%;">N</h3>
    </div>
    {% endblock content%}
	
	{% block javascript %}
	<script>
	var count = 3;
	var secondDuration = 750;
	
	function startCount() {
		countdown();
	}
	startCount();
	
	function countdown() {
		// Set count.
		$("#count-number").text(count);
		setTimeout(function () {
			if (count <= 0) {
				pickRandom();
			} else {
				count--;
				countdown();
			}
		}, secondDuration);
	}
	
	function pickRandom() {
		ary = [];
		{% for question in book_questions %}ary.push("{% url 'question_detail' question.pk %}");
		{% endfor %}var item = ary[Math.floor(Math.random()*ary.length)];
		window.location.href = item;
	}
	
	function goBack() {
		age = sessionStorage.getItem("ageRange");
		if (age === null) {
			window.location.href = "/select-age/";
		} else {
			window.location.href = "/books-by-age/" + age;
		}
	}
	</script>
	{% endblock javascript %}
  </body>
</html>
