{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
	{% block content %}
	<a href="/select-age/" class="button-ul">Atrás</a>
	<a href="#" onclick="history.go(0);" class="button-ur">Más</a>
	
	<h1 class="topbar-clear">Escoge un libro</h1>
	
    <div class="container col-md-7 cards vertical-align">
		{% for book in random_books %}
			<a href="{% url 'book_questions' book.pk %}">{{ book.title }}</a>
		{% endfor %}
	</div>
    {% endblock content %}
	
	{% block javascript %}
	<script>
	// Save current age
	locSplit = window.location.href.split("/");
	len = locSplit.length;
	sessionStorage.setItem("ageRange",locSplit[len-1]);
	</script>
	{% endblock javascript %}
  </body>
</html>
