{% extends 'base.html' %}
{% block content %}
<a href="/books-list" class="button-ul">Regresar</a>
<h1>{{ book_detail.title }} - {{ book_detail.author }}</h1>
<div class="container col-md-5" style="margin-top: 6em;">
  <ul>
    <li><a href="{% url 'book_edit' book_detail.pk %}">Modificar</a></li>
    <li><a href="{% url 'book_delete' book_detail.pk %}">Borrar</a></li>
    <li><a href="{% url 'questions_options' book_detail.pk %}">Preguntas</a></li>
  </ul>
 </div>
{% endblock content %}

{% block javascript %}
<script>
// Save current book
locSplit = window.location.href.split("/");
len = locSplit.length;
sessionStorage.setItem("lastBook",locSplit[len-1]);
</script>
{% endblock javascript %}