{% extends 'base.html' %}

{% block content %}
<a href="#" onclick="goBack()" class="button-ul">Regresar</a>
  <h1>Borrar Libro</h1>
  <div class="container col-md-5" style="margin-top: 6em;">
  <form action="" method="post"> {% csrf_token %}
    <p>Confirmar que desea borrar el libro {{ book.title }}</p>
    <input type="submit" value="Borrar">
  </form>
  </div>
{% endblock content %}

{% block javascript %}
<script>
function goBack() {
	book = sessionStorage.getItem("lastBook");
	if (book === null) {
		window.location.href = "/books-list/";
	} else {
		window.location.href = "/book_options/" + book;
	}
}
</script>
{% endblock javascript%}