<!-- templates/index.html -->
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
		<div class="topbar">
			<h1>Trivia Literaria</h1>
		</div>
		<div class="container col-md-5" style="margin-top: 5em;">
			<div class="maintext">
				<h3>¡Bienvenidos al Buscalibros!</h3>
				<p>La literatura esconde muchos secretos y grandes aventuras, pero a veces es difícil encontrarlas. Te ayudaremos a encontrar algo que te impresionará.</p>
				<p>¡Vamos juntos al <b>increíble mundo literario</b>!</p>
			</div>
			<br />
			<a href="{% url 'select_age' %}" class="button-centered">Empezar</a>
		</div>
    {% endblock content %}
  </body>
</html>
