{% extends 'base.html' %}
{% block content %}
<a href="#" onclick="goBack()" class="button-ul">Regresar</a>
<h1>Lista de Preguntas</h1>
<div class="container col-md-5" style="margin-top: 6em;">
  <ul>
    {% for question in questions_by_book %}
      <li><a href="{% url 'question_options' question.pk %}">{{ question.question }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}

{% block javascript %}
<script>
function goBack() {
	book = sessionStorage.getItem("lastBook");
	if (book === null) {
		window.location.href = "/books-list/";
	} else {
		window.location.href = "/questions_options/" + book;
	}
}
</script>
{% endblock javascript%}