{% extends 'base.html' %}
{% block content %}
<a href="#" onclick="goBack()" class="button-ul">Regresar</a>
<h1>Crear Nueva Pregunta</h1>
<div class="container col-md-5" style="margin-top: 6em;">
  <form method="post" action=""> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="" value="Guardar Pregunta">
  </form>
</div>
{% endblock content %}

{% block javascript %}
<script>
function goBack() {
	book = sessionStorage.getItem("lastBook");
	if (book === null) {
		window.location.href = "/books-list/";
	} else {
		window.location.href = "/questions_options/" + book;
	}
}
</script>
{% endblock javascript%}