{% extends 'base.html' %}

{% block content %}
<a href="#" onclick="goBack()" class="button-ul">Regresar</a>
<h1> {{ book_info.title }} </h1>
<div class="container col-md-5" style="margin-top: 6em;">
<ul>
  <li><a href="{% url 'question_create' book_info.pk %}">Insertar Nueva Pregunta</a></li>
  <li><a href="{% url 'questions_by_book' book_info.pk %}">Listado de Preguntas</a></li>
</ul>
</div>
{% endblock content %}

{% block javascript %}
<script>
function goBack() {
	book = sessionStorage.getItem("lastBook");
	if (book === null) {
		window.location.href = "/books-list/";
	} else {
		window.location.href = "/book_options/" + book;
	}
}
</script>
{% endblock javascript%}