{% extends 'base.html' %}
{% block content %}
  <h1>Crear Nueva Pregunta</h1>
  <form class="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2" type="submit" name="button">Crear</button>
  </form>
{% endblock content %}
