{% extends 'base.html' %}

{% block content %}
  <h1>Preguntas del libro {{ book.title }}</h1>
  <ul>
    {% for question in questions %}
    <li><a href="#">{{ question.question }}</a></li>
    {% endfor %}
  </ul>

{% endblock content %}
