{% extends 'base.html' %}

{% block content %}
<a href="#" onclick="goBack()" class="button-ul">Regresar</a>
  <h1>Editar Pregunta</h1>
  <div class="container col-md-5" style="margin-top: 6em;">
  <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
  </form>
  </div>
{% endblock content %}

{% block javascript %}
<script>
function goBack() {
	question = sessionStorage.getItem("lastQuestion");
	if (question === null) {
		window.location.href = "/books-list/";
	} else {
		window.location.href = "/question-options/" + question;
	}
}
</script>
{% endblock javascript%}