{% extends 'base.html' %}

{% block content %}
<a href="#" onclick="goBack()" class="button-ul">Regresar</a>
<h1>{{ question_detail.question }}</h1>
<div class="container col-md-5" style="margin-top: 6em;">
  <ul>
    <li><a href="{% url 'question_update' question_detail.pk %}">Editar Pregunta</a></li>
    <li><a href="{% url 'question_delete' question_detail.pk %}">Borrar Pregunta</a></li>
  </ul>
 </div>
{% endblock content %}

{% block javascript %}
<script>
function goBack() {
	book = sessionStorage.getItem("lastBook");
	if (book === null) {
		window.location.href = "/books-list/";
	} else {
		window.location.href = "/questions-by-book/" + book;
	}
}

// Save current question ID
locSplit = window.location.href.split("/");
len = locSplit.length;
sessionStorage.setItem("lastQuestion",locSplit[len-1]);
</script>
{% endblock javascript%}