{% extends 'base.html' %}

{% block content %}
<a href="#" onclick="goBack()" class="button-ul">Regresar</a>
  <h1>Borrar Pregunta</h1>
  <div class="container col-md-5" style="margin-top: 6em;">
  <form action="" method="post"> {% csrf_token %}
    <p>Confirmar que desea borrar la pregunta {{ question.question }}</p>
    <input type="submit" value="Borrar">
  </form>
  </div>
{% endblock content %}

{% block javascript %}
<script>
function goBack() {
	question = sessionStorage.getItem("lastQuestion");
	if (question === null) {
		window.location.href = "/books-list/";
	} else {
		window.location.href = "/question-options/" + question;
	}
}
</script>
{% endblock javascript%}