{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {% block javascript%}
    <script type="text/javascript">
      $('.answer-option').css('cursor', 'pointer');
	  
	  $('.answer-option').click(function(){
        if($(this).text() == $('#right_answer').text()){
          $("#response").html("<h3>Respuesta Correcta</h3> <br> <p>Toca para continuar</p>");
        } else {
          $("#response").html('<h3>Respuesta incorrecta</h3> <p> La respuesta correcta es: '
        + $("#right_answer").text() + '</p> <br> <p>Toca para continuar</p>');
        }
		$("#response-back").css("display","block");
      });
	  
	  function responseClick() {
		//$("#response-back").css("display","none");
		goBack();
	  }
	  
	  function goBack() {
		age = sessionStorage.getItem("ageRange");
		if (age === null) {
			window.location.href = "/select-age/";
		} else {
			window.location.href = "/books-by-age/" + age;
		}
	  }
    </script>
    {% endblock javascript%}



    {% block content %}
	  <a href="#" onclick="goBack()" class="button-ul">Regresar</a>
      <h2 id="animate-slide-left">{{ question_detail.question }}</h2>
	  <div class="container col-md-5" style="margin-top: 6em;">
		  <ul>
			<li id="option1" class="answer-option selectionButton" >{{ option1 }}</li>
			<li id="option2" class="answer-option selectionButton" >{{ option2 }}</li>
			<li id="option3" class="answer-option selectionButton" >{{ option3 }}</li>
			<li id="right_answer" style="display:none;" >{{ question_detail.option1 }}</li>
		  </ul>
	  </div>
      <a href="#" onclick="javascript:history.go(-1);" class="button-centered">Otra pregunta</a>
	  <div id='response-back' style="display: none;" onclick="responseClick()">
		<div id='response'> </div>
	  </div>
    {% endblock content %}
  </body>
</html>
