{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
	<a href="/" class="button-ul">Atrás</a>
	<div class="topbar">
		<h1>Seleccione un rango de edad</h1>
	</div>
    
	<div class="container col-md-7 cards" style="margin-top: 6em">
		<a href="{% url 'books_by_age' 1 %}" class="araya">3 - 6</a>
		<a href="{% url 'books_by_age' 2 %}">7 - 10</a>
		<a href="{% url 'books_by_age' 3 %}">11 - 16</a>
	</div>
    {% endblock content %}
  </body>
</html>
