{% extends 'base.html'%}
{% block content %}
  <h1>Registrar Usuario</h1>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="button">Guardar</button>
  </form>
{% endblock content %}
