{% extends 'base.html' %}

{% block content %}
<a href="/" class="button-ul">Regresar</a>

<h1 style="position: fixed; width: 100%;">Administración</h1>
<div class="container col-md-5 vertical-align">
	<ul style="align: center; text-align: center;">
		{% csrf_token %}
		<li><a href="{% url 'new_book' %}">Insertar Nuevo Libro</a></li>
		<li><a href="{% url 'books_list' %}">Consultar Libros</a></li>
		<li><a href="{% url 'logout' %}">Salir</a></li>
	</ul>
</div>
{% endblock content %}
